:root {
    --Blue800: hsl(234, 29%, 20%);
    --Blue700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%,58%);
    --White: hsl(0, 0%, 100%);
    font-family: "Roboto";
    color: var(--Blue800);
    font-weight: 400;
    font-size: 16px;
}

html{
    height: 100%;
}

body{
    background-color: var(--Blue700);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    height: 100%;
    align-items: center;
}

.popup{
    width:840px;
    height: 600px;
    background-color: white;
    border-radius: 24px;
    display: grid;
    padding: 20px;
    align-items: center;
    grid-template-columns: auto auto;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

grid{
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
}

.left{
    padding: 40px;
}

/* .circle-star{
    background-color: #272E38;
    height: 50px;
    width: 50px;
    color: hsl(217, 12%, 63%);
    border-radius: 25px;
    display: flex;
    font-family: "Roboto";
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-width: 0px;
} */

.title{
    font-size: 54px;
    font-weight: 900;
}

.text{
    margin: 20px 0px;
}
/* .numbers{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
} */

/* .circle{
    background-color: var(--Blue800);
    height: 50px;
    width: 50px;
    color: hsl(217, 12%, 63%);
    border-radius: 25px;
    display: flex;
    font-family: "Roboto";
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-width: 0px;
} */

.email{
    padding: 20px 0px 0px;
    font-weight: 900;
}

input{
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 8px;
    border-color: var(--Grey);
    border-width: 1px;
    border-style: solid;
    padding: 0px 20px;
    margin: 0px 0px 20px 0px;
}



.bulletPoint{
    color: var(--Blue800);
    font-family: "Roboto";
    line-height: 2.2;
    display: flex;
    gap: 16px;
    align-items: center;
}

.circle:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(213, 19%, 18%);  
    cursor: pointer;
}

.circle:hover:active{
    background-color: hsl(25, 85%, 44%);
}

.circle:disabled{
    background-color: white;
    color: #272E38;
}




.submit{
    background-color: var(--Blue800);
    height: 50px;
    width: -webkit-fill-available;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    border-width: 0px;
}

/* .submit:hover{
    background-color: hsl(25, 85%, 44%);
    color: hsl(213, 19%, 18%);  
    cursor: pointer;
}

.submit:hover:active{
    background-color: hsl(25, 81%, 36%);
    color: var(--Blue800);  
} */